# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output directory for executables
bin/*

# Output directory for Qt moc
src/moc/*

# Application API Key
src/flickr_api_key.cpp
APIKey
